<br/>
<h3>What Are Cryptocurrencies?</h3>
<br/>
<p>A cryptocurrency is a digital medium of exchange using strong cryptography to secure financial transactions, control
    the creation of additional units, and verify the transfer of assets.</p>

<p>There are a few pieces here to focus on: digital, strong cryptography, creation, transactions, and verification.</p>

<p>Why was Bitcoin such a revolutionary technology? A big part of it is due to its design in preventing a problem called
    “double-spending.”</p>

<p>In order for you to know that the $1 you just received will not be spent by your sender again in another transaction,
    we typically need to trust someone to keep tabs of who’s spending and receiving what – usually, a bank, in the case
    of digital assets, or the dollar note itself physically leaving your wallet and never coming back.</p>

<p>With Bitcoin, the recognition and prevention of this problem meant that we’ll never have to doubt if the dollar just
    given to us is actually spendable by the sender and without needing a middleman to verify it. It\'s similar to the
    cash coming out of your wallet. Once you’ve given it away, you can see for yourself that it’s no longer there.</p>

<p>This concept was revolutionary because these were digital assets, which in the past required someone to verify
    transactions since there was no way to tangibly account for them. With Bitcoin, each transaction is added to a
    “block,” which is then appended to the end of a chain of blocks, the “blockchain,” and nobody can tamper with the
    previous blocks once they have been confirmed. This is done through strong cryptography using something called a
    SHA-256 cryptographic hash function.</p>

<p>So where does all this Bitcoin come from anyway? As part of the process of confirming transactions on the blockchain,
    there are people called miners who run computers or chips to solve cryptographic puzzles in a race to add a new
    block to the blockchain. To reward these miners for their contribution in keeping the network safe, new bitcoins are
    created with each block added.</p>

<p>The reason why we need miners as part of a blockchain is because of security. Under the Proof-of-Work system, the
    concept is that where one must spend real-world assets, such as electricity, to confirm blocks, there is cost
    incurred before rewards can be received. As such, it becomes expensive for attackers as they will need to spend a
    lot of resources in the attack; with others acting in the interest of receiving bitcoins legitimately for their
    efforts in mining, these attackers have little chance of taking over 51% of the network and effectively controlling
    the majority.</p>

<p>To see a visual explanation, check out this video:</p>

<a href="https://youtu.be/_160oMzblY8"></a>
<div class="ytp-cued-thumbnail-overlay-image"
     style="background-image: url(&quot;https://i.ytimg.com/vi/_160oMzblY8/maxresdefault.jpg&quot;);"></div>
<p>There are other forms of consensus mechanisms as well, such as Proof-of-Stake, delegated Proof-of-Stake,
    Proof-of-Authority, Proof-of-Burn, Proof-of-Developer, and more. Each mechanism has its own pros and cons, so take
    the time to learn more about each one through the projects which interest you most.</p>
