{% extends 'cryptonews/base.html' %}
<!--<title>Crypto Basics</title>-->
{% block content %}
<br/>
<h3 align="center">Crypto Basics</h3>
<br/>
<div class="container">
    <div class="span8" style="font-family: 'Abril Fatface', cursive;">
        <h4><p>All you need to know about the basics of cryptocurrency in one place.<br/>
        Learn how Bitcoin, blockchain and altcoins work, how to actually use them, and why it matters to you.</p></h4>
    </div>
</div>

<br/>
<!--<div class="card border-light mb-3" style="max-width: 18rem;">-->
<!--    <div class="card-header">What Are Cryptocurrencies?</div>-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">What Are Cryptocurrencies?</h5>-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--            content.</p>-->
<!--    </div>-->
<!--</div>-->


<!--<div class="row row-cols-1 row-cols-md-2 g-4">-->
<!--  <div class="col">-->
<!--    <div class="card mb-5">-->
<!--&lt;!&ndash;      <img src="..." class="card-img-top" alt="...">&ndash;&gt;-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">What Are Cryptocurrencies?</h5>-->
<!--        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <div class="card">-->
<!--&lt;!&ndash;      <img src="..." class="card-img-top" alt="...">&ndash;&gt;-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">What Is a Blockchain?</h5>-->
<!--        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <div class="card">-->
<!--&lt;!&ndash;      <img src="..." class="card-img-top" alt="...">&ndash;&gt;-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Card title</h5>-->
<!--        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <div class="card">-->
<!--&lt;!&ndash;      <img src="..." class="card-img-top" alt="...">&ndash;&gt;-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Card title</h5>-->
<!--        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<article class="media content-section">-->
<!--    <div class="media-body">-->
<!--        <div class="article-metadata">-->

<!--           -->
<!--        </div>-->
<!--        <h2><a class="article-title" href="">What Are Cryptocurrencies?</a></h2>-->
<!--        <p class="article-content">{% include 'cryptonews/_content_cryptocurrency.html' %}</p>-->
<!--    </div>-->
<!--</article>-->

<hr>
<div class="container">
    <div class="span8">
        <h3>What Is a Blockchain?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum ex eget porttitor sollicitudin.
            Morbi cursus tempor placerat. Pellentesque suscipit tortor in orci pretium, ac facilisis ex pretium.
            Fusce hendrerit orci diam, vitae tristique quam porttitor eu. Donec ligula orci, ultricies in sagittis non,
            porta sed lorem. Aenean interdum posuere mattis. Curabitur dignissim dictum quam, vitae malesuada velit
            tristique a. </p>
        <div>
            <div class="more label"><a href="_whatisablockchain.html">Read more</a></div>
            <!--            <div class="tags">-->
            <!--                <span class="btn-info"><a href="#">energy</a></span><span class="btn-info"><a href="#">reality</a></span><span class="btn-info"><a href="#">world</a></span>-->
            <!--            </div>-->
        </div>
        <div class="clear"></div>
        <hr class="my-3">
        <h3>What Are Cryptocurrencies?</h3>
        <p>Sed interdum massa ac pretium faucibus. Integer semper euismod lorem faucibus molestie.
            Aenean luctus ut metus eget dignissim. Sed tincidunt augue non elementum pharetra. Suspendisse non feugiat
            urna.
            Etiam egestas neque euismod neque sollicitudin consectetur. Fusce facilisis augue a velit porta scelerisque.
            Sed mattis justo sapien. Sed ultrices lectus diam, id vestibulum ante finibus a. </p>
        <div>
            <div class="more label"><a href="#">Read more</a></div>
            <!--            <div class="tags">-->
            <!--                <span class="btn-info"><a href="#"></a>energy</a></span><span class="btn-info"><a href="#">reality</a></span><span class="btn-info"><a href="#">world</a></span>-->
            <!--            </div>-->
        </div>
        <hr class="my-3">
        <h3>Proof-of-Work vs. Proof-of-Stake</h3>
        <p>Sed interdum massa ac pretium faucibus. Integer semper euismod lorem faucibus molestie.
            Aenean luctus ut metus eget dignissim. Sed tincidunt augue non elementum pharetra. Suspendisse non feugiat
            urna.
            Etiam egestas neque euismod neque sollicitudin consectetur. Fusce facilisis augue a velit porta scelerisque.
            Sed mattis justo sapien. Sed ultrices lectus diam, id vestibulum ante finibus a. </p>
        <div>
            <div class="more label"><a href="#">Read more</a></div>
            <!--            <div class="tags">-->
            <!--                <span class="btn-info"><a href="#"></a>energy</a></span><span class="btn-info"><a href="#">reality</a></span><span class="btn-info"><a href="#">world</a></span>-->
            <!--            </div>-->
        </div>
        <hr  class="my-3">
        <h3>What Is a Stablecoin?</h3>
        <p>Sed interdum massa ac pretium faucibus. Integer semper euismod lorem faucibus molestie.
            Aenean luctus ut metus eget dignissim. Sed tincidunt augue non elementum pharetra. Suspendisse non feugiat
            urna.
            Etiam egestas neque euismod neque sollicitudin consectetur. Fusce facilisis augue a velit porta scelerisque.
            Sed mattis justo sapien. Sed ultrices lectus diam, id vestibulum ante finibus a. </p>
        <div>
            <div class="more label"><a href="#">Read more</a></div>
            <!--            <div class="tags">-->
            <!--                <span class="btn-info"><a href="#"></a>energy</a></span><span class="btn-info"><a href="#">reality</a></span><span class="btn-info"><a href="#">world</a></span>-->
            <!--            </div>-->
        </div>

        <hr  class="my-3">
        <h3>How Long Does a Bitcoin Transaction Take?</h3>
        <p>Sed interdum massa ac pretium faucibus. Integer semper euismod lorem faucibus molestie.
            Aenean luctus ut metus eget dignissim. Sed tincidunt augue non elementum pharetra. Suspendisse non feugiat
            urna.
            Etiam egestas neque euismod neque sollicitudin consectetur. Fusce facilisis augue a velit porta scelerisque.
            Sed mattis justo sapien. Sed ultrices lectus diam, id vestibulum ante finibus a. </p>
        <div>
            <div class="more label"><a href="#">Read more</a></div>
            <!--            <div class="tags">-->
            <!--                <span class="btn-info"><a href="#"></a>energy</a></span><span class="btn-info"><a href="#">reality</a></span><span class="btn-info"><a href="#">world</a></span>-->
            <!--            </div>-->
        </div>
        <hr  class="my-3">
        <h3>Nine Things to Know Before Investing in Cryptocurrency</h3>
        <p>Sed interdum massa ac pretium faucibus. Integer semper euismod lorem faucibus molestie.
            Aenean luctus ut metus eget dignissim. Sed tincidunt augue non elementum pharetra. Suspendisse non feugiat
            urna.
            Etiam egestas neque euismod neque sollicitudin consectetur. Fusce facilisis augue a velit porta scelerisque.
            Sed mattis justo sapien. Sed ultrices lectus diam, id vestibulum ante finibus a. </p>
        <div>
            <div class="more label"><a href="#">Read more</a></div>
            <!--            <div class="tags">-->
            <!--                <span class="btn-info"><a href="#"></a>energy</a></span><span class="btn-info"><a href="#">reality</a></span><span class="btn-info"><a href="#">world</a></span>-->
            <!--            </div>-->
        </div>
        <hr class="my-3">
        <h3>What Is Distributed Ledger Technology (DLT)?</h3>
        <p>Sed interdum massa ac pretium faucibus. Integer semper euismod lorem faucibus molestie.
            Aenean luctus ut metus eget dignissim. Sed tincidunt augue non elementum pharetra. Suspendisse non feugiat
            urna.
            Etiam egestas neque euismod neque sollicitudin consectetur. Fusce facilisis augue a velit porta scelerisque.
            Sed mattis justo sapien. Sed ultrices lectus diam, id vestibulum ante finibus a. </p>
        <div>
            <div class="more label"><a href="#">Read more</a></div>
            <!--            <div class="tags">-->
            <!--                <span class="btn-info"><a href="#"></a>energy</a></span><span class="btn-info"><a href="#">reality</a></span><span class="btn-info"><a href="#">world</a></span>-->
            <!--            </div>-->
        </div>
        <hr class="my-3">
        <h3>What Is a Smart Contract?</h3>
        <p>Sed interdum massa ac pretium faucibus. Integer semper euismod lorem faucibus molestie.
            Aenean luctus ut metus eget dignissim. Sed tincidunt augue non elementum pharetra. Suspendisse non feugiat
            urna.
            Etiam egestas neque euismod neque sollicitudin consectetur. Fusce facilisis augue a velit porta scelerisque.
            Sed mattis justo sapien. Sed ultrices lectus diam, id vestibulum ante finibus a. </p>
        <div>
            <div class="more label"><a href="#">Read more</a></div>
            <!--            <div class="tags">-->
            <!--                <span class="btn-info"><a href="#"></a>energy</a></span><span class="btn-info"><a href="#">reality</a></span><span class="btn-info"><a href="#">world</a></span>-->
            <!--            </div>-->
        </div>
        <hr class="my-3">
        <h3>Private Keys: The Keys to Your Crypto</h3>
        <p>Sed interdum massa ac pretium faucibus. Integer semper euismod lorem faucibus molestie.
            Aenean luctus ut metus eget dignissim. Sed tincidunt augue non elementum pharetra. Suspendisse non feugiat
            urna.
            Etiam egestas neque euismod neque sollicitudin consectetur. Fusce facilisis augue a velit porta scelerisque.
            Sed mattis justo sapien. Sed ultrices lectus diam, id vestibulum ante finibus a. </p>
        <div>
            <div class="more label"><a href="#">Read more</a></div>
            <!--            <div class="tags">-->
            <!--                <span class="btn-info"><a href="#"></a>energy</a></span><span class="btn-info"><a href="#">reality</a></span><span class="btn-info"><a href="#">world</a></span>-->
            <!--            </div>-->
        </div>
        <hr class="my-3">
    </div>
</div>


{% endblock content %}

