{% extends 'cryptonews/base.html' %}

{% block content %}
<br/>
{% if coin.Response %}
Sorry, that symbol does not exist. Please try again.
{% else %}
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">24h High</th>
        <th scope="col">24h Low</th>
        <th scope="col">Change 24h</th>
        <th scope="col">Change % 24h</th>
        <th scope="col">Change 1h</th>
        <th scope="col">Change % 1h</th>
        <th scope="col">Market Cap</th>
    </tr>
    </thead>
    <tbody>
    {% for key,value in price.DISPLAY.items %}
    <tr>
        <td>{{ value.USD.FROMSYMBOL }}</td>
        <td>{{ key }}</td>
        <td>{{ value.USD.PRICE }}</td>
        <td>{{ value.USD.HIGH24HOUR }}</td>
        <td>{{ value.USD.LOW24HOUR }}</td>
        <td>{{ value.USD.CHANGE24HOUR }}</td>
        <td>{{ value.USD.CHANGEPCT24HOUR }}</td>
        <td>{{ value.USD.CHANGEHOUR }}</td>
        <td>{{ value.USD.CHANGEPCTHOUR }}</td>
        <td>{{ value.USD.MKTCAP }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock content %}